# Ignore compiled Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment files
venv/
env/

# Ignore editor and IDE specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore sensitive or private information
config.ini
